<!DOCTYPE html>
<html>
<head>
  <title>BackchannelTrial</title>
  <%= csrf_meta_tags %>
  <style rel="stylesheet" type="text/css" media="screen">
    fieldset {
    background-color:  #87cefa;
    border:  1px solid #ccc;
    margin:  0.3em 0;
    padding:  0.3em;
    }
    </style>
</head>
<body>

<fieldset>
<h1>Backchannel Application</h1>
 </fieldset>

<%= yield %>

</body>
</html>
